
<div class="p-2 bg-light pinkColorText">
  {{!-- <div id="alertSuccess" class="alert alert-success text-center" style="display: none" role="alert"></div>
  <div id="alertError" class="alert alert-danger text-center" style="display: none" role="alert"></div> --}}
  
  <h1 class="text-center d-flex " style="font-family: cursive;">
    <div class="d-flex">
      <a href="/" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Trang chủ</a>
    </div>
    <small class="w-100 text-center"> MOMO DASHBOARD</small>
  </h1>
</div>
<!-- Main sidebar -->
<div class="row">
  <div id="sidebar-main" class="col-sm-3 sidebar-dashboard sidebar-default sidebar-separate sidebar-fixed">
    <div class="sidebar-content">
      <div class="sidebar-category sidebar-default">
        <div class="sidebar-user">
          <div class="category-content">
            <h6>{{data.HoVaTen}}</h6>
            <small>{{data.Email}}</small>
          </div>
        </div>
      </div>
      <!-- /Sidebar Category -->
      <div class="sidebar-category sidebar-default">
        <div class="category-title">
          <span>Dashboard</span>
        </div>
        <div class="category-content">
          <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fa-solid fa-users mr-3"></i>
                Tất cả tài khoản
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fa-solid fa-list-check mr-3"></i>
                Chờ xác minh
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link ">
                <i class="fa-solid fa-check mr-3"></i>
                Đã xác minh
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link ">
                <i class="fa-solid fa-lock mr-3"></i>
                Bị vô hiệu hóa
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link ">
                <i class="fa-regular fa-address-card mr-3"></i>
                Chờ cập nhật
              </a>
            </li>
          </ul>
          <!-- /Nav -->
        </div>
        <!-- /Category Content -->
      </div>
    </div>
  </div>
  <div class=" mt-4 rounded col-sm-9 ">
    <table class="table">
      <thead class="thead-light ">
        <tr>
          <th scope="col">UserID</th>
          <th scope="col">Họ và tên</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col" >Chức năng</th>
        </tr>
      </thead>
      <tbody id="tbody-user">
      </tbody>
    </table>
  </div> <!-- end content-wrapper -->
</div>
<!-- Button trigger modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let tbody = document.getElementById('tbody-user')

// tải danh sach user
  fetch('/apiUser/getUser',{
    method: 'GET',
    headers: {'Content-Type': 'application/json'},
  }).then((res) => res.json())
    .then(data => {
      let users = data.user
      users.forEach(user => {
        if (user.LoaiTaiKhoan == 0){
          let row = document.createElement('tr');
          let userId = document.createElement('td');
          let name = document.createElement('td');
          let trangThai = document.createElement('td');
          let chucNang = document.createElement('td');

          userId.innerHTML = user.username

          if (!user.HoVaTen){
            name.innerHTML='<span class="badge badge-pill badge-secondary">Chưa cập nhật</span>'
          }else{
            name.innerHTML =  `<a href='/dashboardUser/profileUser/${user.username}' class='text-dark'>${user.HoVaTen}</a>`
          }

          if(user.trangthai == 0){
            trangThai.innerHTML = `<span class="badge badge-pill badge-warning">Chờ xác minh</span>`
            chucNang.innerHTML = `<button onclick='completeUser(${user.username})' class="btn btn-completeUser btn-success">Xác nhận</button>
                                  <button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }else if(user.trangthai == 1){
            trangThai.innerHTML = `<span class="badge badge-pill badge-info">Đẫ xác minh</span>`
            chucNang.innerHTML = `<button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }else if(user.trangthai == 2){
            trangThai.innerHTML = `<span class="badge badge-pill badge-danger">Đã vô hiệu hóa</span>`
            chucNang.innerHTML = `<button onclick='restoreUser(${user.username})' class="btn btn-updateUser btn-info">Khôi phục</button>`
          }else if(user.trangthai == 3){
            trangThai.innerHTML = `<span class="badge badge-pill badge-primary">Chờ cập nhật</span>`
            chucNang.innerHTML = `<button onclick='completeUser(${user.username})' class="btn btn-completeUser btn-success">Xác nhận</button>
                                  <button onclick='updateUser(${user.username})' class="btn btn-updateUser btn-warning">Cập nhật thông tin</button>
                                  <button onclick='deleteUser(${user.username})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }
          row.appendChild(userId)
          row.appendChild(name)
          row.appendChild(trangThai)
          row.appendChild(chucNang)

          tbody.appendChild(row)
        }
      })
    })
 
  // xử lý xác nhận tài khoản người dùng
  let alertSuccess = document.getElementById('alertSuccess')
  let alertError = document.getElementById('alertError')
  // gủi yêu cầu xác nhận tài khoản người dùng
  function completeUser(idUser){
    let url = `/apiUser/completeUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        //console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      })
  }
  // gửi yêu cầu vô hiệu hóa tài khoản
  function deleteUser(idUser){
    let url = `/apiUser/deleteUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }

  // gửi yêu cầu cập nhật thông tin tài khoản
  function updateUser(idUser){
    let url = `/apiUser/upDateInfoUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }
  // gửi yêu khôi phục tài khoản
  function restoreUser(idUser){
    let url = `/apiUser/restoreUser/${idUser}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idUser}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }

</script>
<!-- /main sidebar -->