
<div class="p-2 bg-light pinkColorText">
  {{!-- <div id="alertSuccess" class="alert alert-success text-center" style="display: none" role="alert"></div>
  <div id="alertError" class="alert alert-danger text-center" style="display: none" role="alert"></div> --}}
  
  <h1 class="text-center d-flex " style="font-family: cursive;">
    <div class="d-flex">
      <a href="/" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Trang chủ</a>
    </div>
    <small class="w-100 text-center"> MOMO DASHBOARD</small>
  </h1>
</div>
<!-- Main sidebar -->
<div class="row">
  <div id="sidebar-main" class="col-sm-3 sidebar-dashboard sidebar-default sidebar-separate sidebar-fixed">
    <div class="sidebar-content">
      <!-- /Sidebar Category -->
      <div class="sidebar-category sidebar-default">
        <div class="category-title">
          <span>Tài khoản</span>
        </div>
        <div class="category-content">
          <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
              <a href="admin/dashboardUser" class="nav-link">
                <i class="fa-solid fa-users mr-3"></i>
                Tất cả
              </a>
            </li>
          </ul>
          <!-- /Nav -->
        </div>
        <div class="category-title">
          <span>Giao dịch</span>
        </div>
        <div class="category-content">
          <ul id="fruits-nav" class="nav flex-column">
            <li class="nav-item">
              <a href="/dashboardUser/giaoDich" class="nav-link">
                <i class="fa-solid fa-circle-dollar-to-slot mr-3"></i>
                Rút tiền và chuyển tiền
              </a>
            </li>
          </ul>
          <!-- /Nav -->
        </div>
        <!-- /Category Content -->
      </div>
    </div>
  </div>
  <div class=" mt-4 rounded col-sm-9 ">
    <table class="table">
      <thead class="thead-light ">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">UserName</th>
          <th scope="col">Tên Giao Dịch</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col" >Chức năng</th>
        </tr>
      </thead>
      <tbody id="tbody-user">
      </tbody>
    </table>
  </div> <!-- end content-wrapper -->
</div>
<!-- Button trigger modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let tbody = document.getElementById('tbody-user')

// tải danh sach user
  fetch('/admin/getLichSuGD',{
    method: 'GET',
    headers: {'Content-Type': 'application/json'},
  }).then((res) => res.json())
    .then(data => {
      let users = data.user
      users.forEach(user => {
          let row = document.createElement('tr');
          let ID = document.createElement('td');
          let userName = document.createElement('td');
          let tenGD = document.createElement('td');
          let trangThai = document.createElement('td');
          let chucNang = document.createElement('td');

          ID.innerHTML = user.IdGD
          userName.innerHTML=user.username
          
          tenGD.innerHTML = user.TenGD
          if(user.xacMinhGD == 0){
            trangThai.innerHTML = `<span class="badge badge-pill badge-warning">Chờ xác minh</span>`
            chucNang.innerHTML = `<button onclick='completeGD(${user.IdGD})' class="btn btn-completeUser btn-success">Xác nhận</button>
                                  <button onclick='deleteGD(${user.IdGD})' class="btn btn-deleteUser btn-danger">Hủy</button>`
          }else if(user.xacMinhGD == 1){
            trangThai.innerHTML = `<span class="badge badge-pill badge-info">Đẫ xác minh</span>`
            chucNang.innerHTML = `<button onclick='updateUser(${user.IdGD})' class="btn btn-updateUser btn-info">Xem thông tin</button>`
          }else if(user.xacMinhGD == 2){
            trangThai.innerHTML = `<span class="badge badge-pill badge-danger">Đã hủy</span>`
            chucNang.innerHTML = `<button onclick='updateUser(${user.IdGD})' class="btn btn-updateUser btn-info">Xem thông tin</button>`
          }
          row.appendChild(ID)
          row.appendChild(userName)
          row.appendChild(tenGD)
          row.appendChild(trangThai)
          row.appendChild(chucNang)

          tbody.appendChild(row)
        
      })
    })
 
  // xử lý xác nhận tài khoản người dùng
  let alertSuccess = document.getElementById('alertSuccess')
  let alertError = document.getElementById('alertError')
  // gủi yêu cầu xác nhận tài khoản người dùng
  function completeGD(idGD){
    let url = `/admin/xacNhanGiaoDich/${idGD}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idGD}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        //console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      })
  }
  // gửi yêu cầu vô hiệu hóa tài khoản
  function deleteGD(idGD){
    let url = `/admin/huyGiaoDich/${idGD}`
    fetch(url,{
      method: 'POST',
      body: JSON.stringify({id: idGD}),
      headers: {'Content-Type': 'application/json'}
    }).then((res) => res.json())
      .then(data => {
        console.log(data)
        if(data.status == 'error'){
          alert( data.error);
        }else{
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: data.success,
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload()
          })
        }
      }) 
  }

 

</script>
<!-- /main sidebar -->