<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #e2fbf5;
    }
    #container {
      width: 80%;
      height: max-content;
      margin-top:20px;
      margin: 20 auto;
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;

    }

    #info {
      width: 50%;
      height: 100%;
      float: left;
    
    }
    #info #product {
      width: 100%;
      height: 100%;
      margin:10px 0;
    }
    
    #payment {
      width: 50%;
      float: right;
      padding: 20px 30px;
    }

    #checkout {
      width: 100%;
    }
    #checkout input {
      margin-bottom: 15px;
    }
    #checkout label {
      float: left;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.6em;
      padding: 0 0 5px 10px;
    }
    #checkout #cvc-label {
      margin-left: 25px;
    }
    #checkout .card-icon {
      width: 29%;
      margin: 0 10% 25px 10%;
      border: none;
      background: none;
      height: 50px;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    #checkout .card-icon:focus {
      -webkit-filter: none;
      filter: none;
    }
    #checkout #visa {
      background-image: url("http://enwaara.se/codepen/visa.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    #checkout #mastercard {
      background-image: url("http://enwaara.se/codepen/mastercard.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 118%;
    }
    #checkout #cardnumber,
    #checkout #cardholder,
    #checkout #cvc, #checkout #date  {
      width: 100%;
      background: none;
      border: 1px solid #6c7a89;
      padding: 8px 19px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      letter-spacing: 1px;
    }
    #checkout #cardnumber:focus,
    #checkout #cardholder:focus,
    #checkout #cvc:focus, #checkout #date:focus {
      border: 1px solid #00b894;
    }
    #checkout ::-webkit-input-placeholder {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 0.9em;
      color: #bdc3c7;
    }
    #checkout #cardnumber {
      letter-spacing: 3px;
    }
    #checkout #cardnumber::-webkit-input-placeholder {
      font-size: 1em;
    }
 
    #checkout #cvc {
      width: 48%;
      float: left;
      margin-left: 11%;
    }
     #checkout #date {
      width: 48%;
      float: left;
      margin-left: 11%;
    }
    #checkout .btn {
      background: #00b894;
      border: none;
      width: 100%;
      padding: 12px 10px 10px 10px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #ececec;
      cursor: pointer;
    }
    #checkout .btn:hover {
      background: #16a085;
    }
    .main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 400;
  font-size: 30px;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 20px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

  </style>
  <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-lg-4 col-sm-12 p-5">
      <div class="main-container">
        <div class="heading">
          <h1 class="heading__title">THẺ ĐÃ LIÊN KẾT</h1>
          <p class="heading__credits"><a class="heading__link"  >Dánh sách thông tin các thẻ</a></p>
        </div>
        {{#if status}}
          {{#each inforThe}}
            <div class="cards">
              <div class="card card-1">
                <div class="card__icon">VISA</div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">{{this.SoThe}}</h2>
                <div class="w-100 d-flex justify-content-between">
                  <p class="card__apply text-light">{{this.CVV}}</p>
                  <p class="card__apply text-light">{{convertDate this.NgayHetHan}}</p>
                </div>
              </div>
            </div>
          {{/each}}
          {{else}}
            <div class="cards">
                <div class="card card-1">
                  <div class="card__icon">VISA</div>
                  <p class="card__exit"><i class="fas fa-times"></i></p>
                  <h2 class="card__title">xxxxxx</h2>
                  <div class="w-100 d-flex justify-content-between">
                    <p class="card__apply text-light">xxx</p>
                    <p class="card__apply text-light">xx/xx</p>
                  </div>
                </div>
              </div>
            {{/if}}

      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div id="container">
        <div id="info">
          <img id="product" src="https://www.paydollar.com.vn/en/images/creditcard-img1-vietnam.jpg" />
        </div>

        <div id="payment">

          <form id="checkout" onsubmit="return false" class="form-payment-card">
            <label>Số tiền cần nạp</label>
            <input id="cardnumber" type='number'  name="cardnumber" required placeholder="100.000 đ" >
            <label class="text-danger">Tối thiểu 50.000Đ</label>
            
            <button class="btn btn-payment">Nạp tiền</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let formPaymentCard = document.getElementById('checkout')
    let soTien = document.getElementById('cardnumber')
    let btnPaymentCard = document.getElementsByClassName('btn-payment')


  formPaymentCard.addEventListener('submit', () => {
    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-success',
      cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
  })

  swalWithBootstrapButtons.fire({
    title: 'Bạn chắc chắn ?',
    text: "Nạp "+soTien.value+"đ vào tài khoản",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Xác nhận',
    cancelButtonText: 'Hủy',
    reverseButtons: true
  }).then((result) => {
    if (result.isConfirmed) {
      const dataMoney = {
        soTien: soTien.value
      }
      fetch('/apiUser/TTNapTien',{
        method: 'POST',
        body: JSON.stringify(dataMoney),
        headers: {'Content-Type': 'application/json'},
    }).then((res) => res.json())
        .then(data => {
            console.log(data)
            if(data.status == 'error') {
                Swal.fire({
                  position: 'center',
                  icon: 'error',
                  title: data.error,
                  showConfirmButton: false,
                  timer: 1500
                }).then(()=>{
                    //location.reload()
                })
            }else{
                Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: data.success,
                  showConfirmButton: false,
                  timer: 1500
                }).then(()=>{
                  window.location.replace('/')
                })
            }
        })
      
    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
      swalWithBootstrapButtons.fire(
        'Hủy Bỏ',
        'Đã hủy giao dịch ',
        'error'
      )
    }
  })
    
  })
  </script>
</body>
</html>