
<style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



form{
    height: max-content;
    margin:auto;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(62, 62, 62, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #3c3c3c;
}
button{
    margin-top: 15px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #000000;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
.forgetPass{
    padding-top:15px;
    font-size: 15px;
}
.createAccount{
    padding-top:15px;
    font-size: 13px;

}
</style>

    <div class="d-flex align-items-center justify-content-between">
        {{#if status}}
            <div>
                <a class="btn btn-outline-danger mt-3" href="/api/logout"> Đăng xuất</a>
            </div>
        {{else}}
            <div>
                <a class="btn btn-outline-dark m-3" href="/profile"><i class="fa-solid fa-arrow-left"></i>  Quay lại</a>
            </div>
        {{/if}}
        <div class="mt-3">
            <p class="text-light emailCurrent">{{data.Email}}</p>
        </div>
    </div>
  
    <form onsubmit="return false;" id="form-updatePassword">
        <h3>Thay đổi mật khẩu</h3>
        {{#if status}}
            <p class="text-center">(Kích hoạt tài khoản)</p>
        {{/if}}
        <label for="username">New password</label>
        <input type="password" placeholder="Vui lòng nhập mật khẩu mới!" required id="newPassword">

        <label for="password">Confirm new Password</label>
        <input type="password" placeholder="Vui lòng nhập lại mật khẩu mới" required id="confirmNewPassword">

        {{!-- <div class="w-100 text-right forgetPass">
            <a class="h6 text-light "href="#">Quên mật khẩu</a>
        </div> --}}

        <div id="successAlert" class="alert alert-success mt-3" role="alert" style="display:none"></div>
        <div id="errorAlert" class="alert alert-danger mt-3" role="alert" style="display:none"></div>

        <button class="colorBtn">Change Password</button>

        <div class="w-100 text-center createAccount">
            <a class="text-dark "href="register">Tạo Tài khoản mới</a>
        </div>

        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>

    <script>
        

        
        //xử li form cập nhật password
        let formUpdatePassword = document.getElementById('form-updatePassword')

        let newPassword = document.getElementById('newPassword')
        let confirmNewPassword = document.getElementById('confirmNewPassword')

        let emailCurrent = document.querySelector('.emailCurrent')
        let alertSuccess = document.getElementById('successAlert')
        let alertError = document.getElementById('errorAlert')

        formUpdatePassword.addEventListener('submit', () => {
            const newPasswordData = {
                email: emailCurrent.innerText,
                password: newPassword.value,
                confirmPassword: confirmNewPassword.value
            }

            fetch('/api/changePassword',{
                method: 'POST',
                body: JSON.stringify(newPasswordData),
                headers: {'Content-Type': 'application/json'},
            }).then((res) => res.json())
                .then(data => {
                    console.log(data)
                    if(data.status == 'error') {
                        alertSuccess.style.display = 'none'
                        alertError.style.display = 'block'
                        alertError.innerText= data.error
                    }else{
                        alertSuccess.style.display = 'block'
                        alertError.style.display = 'none'
                        alertSuccess.innerText= data.success
                        window.location.replace("/")
                    }
                })
        })
    </script>

