<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    height: max-content;
    width: max-content;
    background-color: rgba(255,255,255,0.13);
    margin:auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 15px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
.forgetPass{
    padding-top:15px;
    font-size: 15px;
}
.createAccount{
    padding-top:15px;
    font-size: 13px;

}
    </style>
</head>
<body>
    <div class="d-flex align-items-center justify-content-between">
        {{#if status}}
            <div>
                <a class="btn btn-outline-danger mt-3" href="/api/logout"> Đăng xuất</a>
            </div>
        {{else}}
            <div>
                <a class="btn btn-outline-light mt-3" href="/profile"><i class="fa-solid fa-arrow-left"></i>  Quay lại</a>
            </div>
        {{/if}}
        <div class="mt-3">
            <p class="text-light emailCurrent">{{data.Email}}</p>
        </div>
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form onsubmit="return false;" id="form-recoverPassword">
        <h3>Thiết lập mât khẩu mới</h3>
        <label for="username">ID</label>
        <input type="text" value={{username}} disabled id="username">
        
        <label for="newPassword">New password</label>
        <input type="password" placeholder="Vui lòng nhập mật khẩu mới!" required id="newPassword">

        <label for="confirmNewPassword">Confirm new Password</label>
        <input type="password" placeholder="Vui lòng nhập lại mật khẩu mới" required id="confirmNewPassword">

        {{!-- <div class="w-100 text-right forgetPass">
            <a class="h6 text-light "href="#">Quên mật khẩu</a>
        </div> --}}

       

        <button>Create Password</button>

        <div class="w-100 text-center createAccount">
            <a class="text-light "href="register">Tạo Tài khoản mới</a>
        </div>

        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        //xử li form cập nhật password
        let formRecoverPassword = document.getElementById('form-recoverPassword')

        let newPassword = document.getElementById('newPassword')
        let confirmNewPassword = document.getElementById('confirmNewPassword')
        let username = document.getElementById('username')


        formRecoverPassword.addEventListener('submit', () => {
            const newPasswordData = {
                password: newPassword.value,
                confirmPassword: confirmNewPassword.value
            }

            fetch(`/api/recoverPassword/${username.value}`,{
                method: 'POST',
                body: JSON.stringify(newPasswordData),
                headers: {'Content-Type': 'application/json'},
            }).then((res) => res.json())
                .then(data => {
                    console.log(data)
                    if(data.status == 'error') {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(()=>{
                            //location.reload()
                        })
                    }else{
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: data.success,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(()=>{
                            window.location.replace(`/login`)
                        })
                    }
                })
        })
    </script>
</body>
</html>
