<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style>
        
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100" src="https://touchcinema.com/storage/01-2019/1000x1000-1564625564.png" alt="">
        </div>
        <div class="col-lg-6 h-100 m-auto">
            <form onsubmit="return false" id="form-signUp" class="w-75 align-middle m-auto">
                <a class="btn btn-outline-dark mt-3" href="/login"><i class="fa-solid fa-arrow-left"></i> Quay về</a>
                <h3 class="text-center">Tạo Tài khoản</h3>

                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" placeholder="Vui lòng nhập email của bạn" id="emailSignUp" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Vui long nhập password" id="passSignUp" required>
                </div>

                <div id="successSignUP" class="alert alert-success mt-3" role="alert" style="display:none"></div>
                <div id="errorSignUp" class="alert alert-danger mt-3" role="alert" style="display:none"></div>
                <div class="text-right">
                    <button type="submit" class="btn colorBtn">Đăng kí</button>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="go m-3"><i class="fab fa-google"></i>  Google</div>
                    <div class="fb  m-3"><i class="fab fa-facebook"></i>  Facebook</div>
                </div>
            </form>
        </div>
    </div>
    

    
    <script>
        

        //xử lí form đăng kí
        let formSignUP = document.getElementById('form-signUp')

        let emailSignUp = document.getElementById('emailSignUp')
        let passSignUp = document.getElementById('passSignUp')

        let alertSuccessSignUP = document.getElementById('successSignUP')
        let alertErrorSignUP = document.getElementById('errorSignUp')


       

        formSignUP.addEventListener('submit', () => {
            const register = {
                email: emailSignUp.value,
                password: passSignUp.value
            }
       
            fetch('/api/register',{
                method: 'POST',
                body: JSON.stringify(register),
                headers: {'Content-Type': 'application/json'},
            }).then((res) => res.json())
                .then(data => {
                    console.log(data)
                    if(data.status == 'error') {
                        alertSuccessSignUP.style.display = 'none'
                        alertErrorSignUP.style.display = 'block'
                        alertErrorSignUP.innerText= data.error
                    }else{
                        alertSuccessSignUP.style.display = 'block'
                        alertErrorSignUP.style.display = 'none'
                        alertSuccessSignUP.innerText= data.success
                        window.location.replace("/login")
                    }
                })
        })
    </script>
</body>
</html>
